html, body {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    color: #eee;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
.row {
    margin: 0;
}
.bar {
    height: 100%;
    width: 100%;
    text-align: center;
}
.bar1 {
    position: relative;
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.05), rgba(255, 0, 0, 0.45)), url('https://images5.alphacoders.com/587/587323.jpg') no-repeat no-repeat center right scroll;
}
.bar2 {
    position: relative;
    transform: rotate(180deg);
    background: linear-gradient(-25deg, rgba(255, 0, 0, 0.05), rgba(255, 0, 0, 0.45)), url('./background2.jpg') no-repeat center scroll;    
}
.bar3 {
    position: relative;
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.05), rgba(255, 0, 0, 0.45)), url('https://images4.alphacoders.com/467/4674.jpg') no-repeat center scroll;        
}
.content {
    height: 100%;
    width: 100%;
    display: table;
}
.class {
    position: absolute;
    top: 20px;
    left: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    border: 1px solid #333;
}
.bar2 .content {
    transform: rotate(180deg);
}
.text {
    display: table-cell;
    vertical-align: middle;
}
h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
}
p {
    font-family: 'Slabo 27px', serif;
    font-size: 0px;
    transition: 0.25s ease;
}
a:hover p {
    height: auto;
    font-size: 14px;    
}
.class {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.0);
    background: rgba(0, 0, 0, 0.0);
    transition: 0.5s ease;
}
.bar1:hover .class, .bar2:hover .class, .bar3:hover .class {
    background: rgba(25, 25, 25, 0.075);
    top: 20px;
    left: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    border: 1px solid #eee;
}